Repository thingaha/thingaha-web, pull requests merged in 2020-10, with the labels that each got.

#51 Issue #47 UI for address Page
  draft_server/sample_data/addresses.json
  frontend/src/components/layouts/Sidebar.js
Labels: Reviewed: Approved., hacktoberfest, hacktoberfest-accepted

#69 Kzt pagination issue 20
  backend/docs/address.md
  backend/docs/attendance.md
  backend/docs/schools.md
  backend/docs/transfer.md
  backend/docs/users.md
  backend/src/controller/address.py
  backend/src/controller/attendance.py
  backend/src/controller/school.py
  backend/src/controller/transfer.py
  backend/src/controller/user.py
  backend/src/models/attendance.py
  backend/src/models/school.py
  backend/src/models/student.py
  backend/src/models/transfer.py
  backend/src/models/user.py
  backend/src/service/address/address_service.py
  backend/src/service/attendance/attendance_service.py
  backend/src/service/school/school_service.py
  backend/src/service/student/student_service.py
  backend/src/service/transfer/transfer_service.py
  backend/src/service/user/user_service.py
Labels: backend, python

#62 Cm 56 create docker based dev env
  Readme.md
  backend/.dockerignore
  backend/.env
  backend/.env.example
  backend/Dockerfile
  backend/bin/docker_entry_point.sh
  backend/conf/config_docker.yaml
  backend/docker-compose.yml
  backend/src/common/config.py
  backend/src/controller/user.py
  frontend/src/store/api/users.js
Labels: backend, hacktoberfest-accepted

#72 #61 User Edit
  draft_server/sample_data/users.json
  frontend/src/components/users/UserCard.js
  frontend/src/components/users/UserForm.js
  frontend/src/components/users/Users.js
  frontend/src/store/actions/users.js
  frontend/src/store/api/users.js
  frontend/src/store/reducers/users.js
  frontend/src/store/saga.js
  frontend/src/store/sagas/users.js
Labels: hacktoberfest-accepted
